inflearn_python1/mycode/__pycache__
inflearn_python1/mycode/.DS_Store
inflearn_python1/source_code/sub/__pycache__
inflearn_python1/source_code/sub/sub1/__pycache__
inflearn_python1/source_code/sub/sub2/__pycache__
.vscode/
.DS_Store
.DS_Store
